/* 
    Created on : 13/11/2015, 01:11:11
    Author     : Samuel
*/
@font-face {
  font-family: 'Ubuntu Titling';

  src: url('fonts/UbuntuTitling-Bold-webfont.eot');
  src: url('fonts/UbuntuTitling-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuTitling-Bold-webfont.woff') format('woff'), url('fontsUbuntuTitling-Bold-webfont.ttf') format('truetype'), url('fonts/UbuntuTitling-Bold-webfont.svg#glyphicons_halflingsregular') format('svg');
}