/* 
    Created on : 26/05/2015, 00:46:57
    Author     : Samuel
*/
.gallery-uploaded-photos{ list-style:none;border: 3px solid #9aa;width:calc(100% - 20px); }
.gallery-uploaded-photos li{ display:block;width:calc(100% - 20px);;padding:10px 10px;  }
.gallery-uploaded-photos li:last-child{ padding-bottom:0;margin-bottom:0; }
.gallery-uploaded-photos li:nth-child(2n){ background-color:#ccc; }
.gallery-uploaded-photos li span.imagem{ width:200px;height:150px;overflow:hidden;margin-left:10px;vertical-align:middle; }
.gallery-uploaded-photos li img{width:100%; }
.gallery-uploaded-photos li > span{ display:inline-block;vertical-align:top; }
.gallery-uploaded-photos li > span:last-child{ max-width:calc(100% - 300px); }
.gallery-uploaded-photos li > span:last-child{ padding:0 30px; }
.gallery-uploaded-photos li > span > span{ display:table-row; }
.gallery-uploaded-photos li > span > span > span{ display:table-cell;padding-bottom:10px; }
.gallery-uploaded-photos li > span > span > span:first-child{ width:100px;color:#BD0303;font-weight:bold;font-size:16px; }
.ui-sortable-helper{ background-color:#ccc; }